.review-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 15px;

    border-radius: 30px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid var(--colors-gray);
    animation: reviewImageFadeIn 0.5s ease;
    min-height: 180px;
    height: 180px;
    overflow-y: hidden;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes reviewImageFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
