.popup-modal {
    margin: 0 auto;
    width: 600px;
    height: auto;
    position: fixed;
    top: 25%;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-self: center;

    border-radius: var(--border-radius-1);
    background-color: var(--colors-white);
    filter: none !important;
    box-shadow: var(--box-shadow);

    /* animation: {dur} {style} {?} {quantity} {keyframe id}*/
    animation: 0.3s ease 0s 1 fadeIn;
}

.popup-modal-border {
    border-bottom: 1px solid var(--colors-gray);
}

.popup-modal-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    height: 50px;
}

.popup-modal-header-text {
    margin: 0 auto;
    text-align: center;
}

.close-modal-btn {
    position: absolute;
    left: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: var(--font-size-xx-large);
}

.popup-modal-body {
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.popup-modal form {
    width: 95%;
}

.popup-modal .form-input-container {
    border: 1px solid var(--colors-dark-gray);
    border-radius: 1rem;
}

.popup-modal-header-text {
    font-size: var(--font-size-large)
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 0.75;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
