.review-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
    animation: reviewImageFadeIn 0.5s ease;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes reviewImageFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
