.review-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 10px;
    width: 46%;
}

.review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.review-star-icon {
    color: var(--colors-text-secondary);
    font-size: var(--font-size-x-small);
}

.review-rating-container {
    position: relative;
    top: -10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#review-rating {
    font-size: var(--font-size-large);
}

#review-user-date-container {
    display: flex;
    flex-direction: column;
}

#review-user-date-container>* {
    margin: 0;
}

#review-user {
    font-weight: 500;
    font-size: var(--font-size-medium);
}

#review-date {
    font-size: var(--font-size-small);
    color: var(--colors-text-secondary);
}

.review-header-divider {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    left: 3px;
    top: -2px;
}
