.review-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border-radius: 10px;
}

.review-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-star-icon {
    position: relative;
    top: -1.3px;
    right: 2px;
    font-size: var(--font-size-x-small);
}

#review-rating {
    font-size: var(--font-size-large);
}

#review-user-date-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    /* border: 1px solid red; */
    margin-left: 10px;
}

#review-user-date-container>* {
    margin: 0;
}

#review-user {
    font-weight: 500;
    font-size: var(--font-size-medium);
}

#review-date {
    font-size: var(--font-size-small);
    color: var(--colors-text-secondary);
}

.review-header-divider {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    left: 3px;
    top: -2px;
}
