.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    border-top: 1px solid var(--colors-gray);
    border-bottom: 1px solid var(--colors-gray);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.navbar-left {
    /* border: 1px solid blue; */
}

.navbar-middle {
    /* border: 1px solid green; */
}

.navbar-right {
    position: relative;
    display: inline-block;
}

.navbar-right-icons {
    border: 1px solid var(--colors-gray);
    border-radius: 50px;
    display: flex;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.navbar-right-icons:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.25s;
}

#profile-menu-icon {
    height: auto;
    width: 15px;
}

#profile-icon {
    width: 25px;
    height: auto;
}
