.navbar-container {
    border: 1px solid purple;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.navbar-content {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.navbar-left {
    border: 1px solid blue;
}

.navbar-middle {
    border: 1px solid green;
}

.navbar-right {
    width: 200px;
    border: 1px solid yellow;
}
