.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    border-top: 1px solid var(--colors-gray);
    border-bottom: 1px solid var(--colors-gray);
    background-color: var(--bg-color);
    z-index: 80;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.navbar-middle {
    flex-grow: 1;
    max-width: 400px;
}

.navbar-right {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.navbar-right-icons {
    border: var(--border-light);
    border-radius: var(--border-radius);
    display: flex;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.navbar-right-icons:hover {
    box-shadow: var(--box-shadow-hover);
    transition: var(--transition-time);
}

#profile-menu-icon {
    height: auto;
    width: 15px;
}

#profile-icon {
    width: 25px;
    height: auto;
}

#host-castle-btn {
    position: relative;
    right: 25px;
    border: none;
    background-color: var(--colors-primary);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--border-radius);
}

#host-castle-btn:hover {
    text-shadow: 0.25px 0.25px 1px rgba(0, 0, 0, 0.5);
    transition: var(--transition-time);
}
