#preview-image-checkbox-input {
    margin: 10px;
    color: var(--colors-accent);
    font-size: var(--font-size-x-large);
    transform: scale(1.5);
}

#preview-image-checkbox-label {
    font-size: var(--font-size-medium);
    color: var(--color-text-secondary);
}
